---
import Layout from "@layouts/Layout.astro";

const fetchGeneralNews = async () => {
  const response = await fetch(
    `https://newsapi.org/v2/top-headlines?country=us&category=general&apiKey=22c4a751fcbb4a9b869012a20633e9e9`
  );
  const data = await response.json();
  return data.articles;
};

const defaultImage =
  "https://icon-library.com/images/no-picture-available-icon/no-picture-available-icon-1.jpg";
const generalNews = await fetchGeneralNews();
---

<Layout>
  <div class="container">
    {
      generalNews
        .reduce((rows: any[], article: any, index: number) => {
          if (index % 2 === 0) {
            rows.push([]);
          }
          rows[rows.length - 1].push(article);
          return rows;
        }, [])
        .map((row: any[]) => (
          <div class="row">
            {row.map((article) => (
              <div class="col-lg-6 mb-4">
                <div class="card custom-border">
                  <img
                    src={article.urlToImage || defaultImage}
                    alt="News Image"
                    class="card-img-top"
                  />
                  <div class="card-body">
                    <h5>{article ? article.title : "Article Not Found"}</h5>
                    <p class="source-published">
                      <span>
                        Source:{" "}
                        {article ? article.source.name : "Source not available"}
                      </span>
                      <span class="published">
                        {article
                          ? new Date(article.publishedAt).toLocaleString()
                          : "Date not available"}
                      </span>
                    </p>
                    <p>
                      Author:{" "}
                      {article ? article.author || "Unknown" : "Unknown"}{" "}
                    </p>
                    <p>
                      <strong>
                        {article
                          ? article.description
                          : "Description not available"}
                      </strong>
                    </p>
                    <p>
                      {article
                        ? article.content || "Content not available"
                        : "Content not available"}{" "}
                      <a
                        href={article.url}
                        target="_blank"
                        class="read-full-article"
                      >
                        Read Full Article
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            ))}
          </div>
        ))
    }
  </div>
  <div class="center-container">
    <div class="button-container">
      <a href="/" class="btn button-back">Back to Home</a>
    </div>
  </div>
</Layout>

<style>
  .custom-border {
    border-color: #594a42;
    background-color: #594a42;
    color: white;
    border: 1px solid #4c3f38;
    box-shadow: 0px 4px 8px rgba(73, 31, 3, 0.4);
  }

  .card-title {
    color: #594a42;
    font-weight: bold;
  }

  .card-text {
    color: #594a42;
  }

  .source-published {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .published {
    color: white;
  }

  h5 {
    font-size: 20px;
  }

  .read-full-article {
    background-color: white;
    color: #594a42;
    font-weight: bold;
    padding: 2px;
  }

  .read-full-article:hover {
    color: white;
    background-color: #594a42;
    padding: 2px;
  }

  .button-back {
    background-color: #594a42;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-back:hover {
    background-color: #4c3f38;
    color: white;
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
</style>
