

<div class="footer bg-secondary mt-2">
  <div class="container-fluid">
    <span class="footer-text"
      >© 2024 <a href="https://github.com/SPRDesign">SPR Design</a>.</span
    >
  </div>
</div>

<style>
  .footer {
    background-color: #594a42 !important;
    color: white;
    padding: 10px 0;
    text-align: center;
  }

  .footer-text {
    font-size: 16px;
  }

  .footer a {
    color: inherit;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }
</style>
